.container{
    display: grid;
    grid-template-rows: auto 400px auto;
    grid-template-columns: 200px auto;
    grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;
}

div {
    background-color: rgb(226, 219, 231);
    border: 2px solid rgb(64, 51, 66);
    padding: 5px;
    color: white;
    text-align: center;
}

.header{ 
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}

.button{
    font-size: 30px;
    color: white;
}

.button {background-color: rgb(104, 141, 148);}

h2{
    font-size: 30px;
    color: black;
}